<div *ngIf="!fileShowed">
    <div class="container">
        <alfresco-document-list-breadcrumb
            [currentFolderPath]="breadcrumbPath"
            [target]="documentList">
        </alfresco-document-list-breadcrumb>
        <rm-file-plan
                #documentList
                [currentFolderPath]="currentPath"
                [contextMenuActions]="false"
                [contentActions]="false"
                (preview)="showFile($event)"
                (folderChange)="onFolderChanged($event)">
            <content-columns>
                <content-column key="$thumbnail" type="image"></content-column>
                <content-column
                    title="Classification"
                    key="properties.sc:classification"
                    class="classificationLevel">
                </content-column>
                <content-column title="Record Info" type="record"></content-column>
                <content-column
                        title="{{'DOCUMENT_LIST.COLUMNS.DISPLAY_NAME' | translate}}"
                        key="name"
                        sortable="true"
                        class="full-width ellipsis-cell">
                </content-column>
                <content-column
                        title="{{'DOCUMENT_LIST.COLUMNS.CREATED_BY' | translate}}"
                        key="createdByUser.displayName"
                        sortable="true"
                        class="desktop-only">
                </content-column>
                <content-column
                        title="{{'DOCUMENT_LIST.COLUMNS.CREATED_ON' | translate}}"
                        key="createdAt"
                        type="date"
                        format="medium"
                        sortable="true"
                        class="desktop-only">
                </content-column>
            </content-columns>
        </rm-file-plan>
        <alfresco-pagination
            [provider]="documentList.data"
            [supportedPageSizes]="[5, 10, 15, 20]">
        </alfresco-pagination>
    </div>

<div *ngIf="fileShowed">
    <alfresco-viewer [(showViewer)]="fileShowed"
                     [fileNodeId]="fileNodeId"
                     [overlayMode]="true">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </alfresco-viewer>
</div>

