.container {
  margin: 10px;
}

@media only screen and (max-width: 640px) {
  .container {
    margin: 0;
  }
}

alfresco-document-list >>>  .classificationLevel div {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    width: 25px;
}

alfresco-document-list >>> .classificationLevel div[data-automation-id="text_undefined"] {
    border: none;
}
